@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
   --primary-color: #3570d3;
   --font-family: "Poppins", sans-serif;
   --heading-size: 2rem;
   --text-color: #5d5d5d;
}
.text-base
{
   font-size: 0.9375rem;
}
@layer base {
   body, html {
      font-family: var(--font-family);
   }
}

body, #__next {
   color: var(--text-color);
}
.body__content {
   margin-top: 84px !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
@media screen and (max-width: 700px) {
   .body__content {
      margin-top: 72px !important;
   }
}

.section-heading {
   @apply text-3xl font-bold text-muted mb-5
}
.section-heading--invert {
   @apply text-white
}
.heading {
   @apply text-xl font-extrabold text-muted mb-3
}

.table-wrapper table {
   @apply w-full mb-6
}

.btn {
   @apply font-semibold
}
.btn-primary {
   @apply btn text-white text-center bg-green-600 px-8 py-4
}
.btn-secondary {
   @apply btn text-white text-center bg-gray-500 px-8 py-4
}
.btn-outline-info {
   @apply btn text-blue-600 text-center bg-transparent px-8 py-3 border-blue-600
}
.hlink {
   @apply font-medium
}
.hlink--success {
   @apply text-green-600
}
.hlink:hover {
   @apply underline decoration-clone
}
.btn-outline-info {
   border-width: 3px;
}
.btn:hover {
   filter: brightness(0.8);
}
.awards-carousel .swiper-slide .w-48 {
   display: flex;
   align-items: center;
   justify-content: center;
}
.container
{
   max-width: 1180px !important;
}
.btn-secondary:hover{
   background-color: rgb(22 163 74 / var(--tw-bg-opacity));
   filter:none;
}

.hover-layer {
   position: relative;
   cursor: pointer;
}
.hover-layer:hover .hover-layer__overlay {
   opacity: 1;
}
.hover-layer__overlay {
   transition: all .5s ease;
   opacity: 0;
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #3570c8eb;
   display: flex;
   align-items: center;
   justify-content: center;
}
.text-banner
{
   font-size: 2.5rem;
   line-height: 2.75rem;
}
.partners-carousel .swiper-button-prev,
.partners-carousel .swiper-button-next {
   display: none;
}
/* .partners-carousel .swiper-wrapper  {
   margin: 0 auto;
   overflow: hidden;
}
.partners-carousel .swiper-button-prev {
   left: -30px;
}
.partners-carousel .swiper-button-next {
   right: -30px;
}
.partners-carousel .swiper-button-prev,
.partners-carousel .swiper-button-next {
   --swiper-navigation-size: 1.5rem;
   background: #fff;
   color: var(--text-color);
   width: 100px !important;
   height: 100% !important;
   transform: translateY(-50%) !important;
   opacity: 1 !important;
} */
.SectionGridItem img{

   max-height: 3.5rem;
   width:50px;
}
.bg-highlight
{
   background-image: var(--bg);
   background-repeat: no-repeat;
   background-size: 38%;
   padding: 8rem 0;
   background-position: right 0%;
}
.font-5xl
{
   font-size: 2.3rem;
   line-height: 3rem;
}

.table--striped table thead th {
   padding: 1rem 0.5rem;
}
.table--striped table td {
   background: #D6D7DB20;
   margin-bottom: 4px;
   padding: 0.5rem;
}
.table--striped table tbody tr:nth-child(even) td {
   background: #D6D7DB60;
}
.nav-menu-main a:not(.font-regular){
   font-weight: 600;
}
.bg-light{
   background: #D6D7DB15;
}
.text-muted-new
{
   color: #bebebe;
}
.post-title
{
   min-height: 60px;
   font-weight: 700;
}
.post-title.min-70px
{
   min-height: 70px;
}
.border-spacing-table
{
   border-collapse: separate;
   border-spacing: 0 0.3rem;
}
.bg-blue-trans
{
   background: #3470d320;
}
.bg-gray-trans
{
   background: #D6D7DB40;
}
.bg-gray-trans-1
{
   background: #D6D7DB20;
}
.table--home tbody tr:hover td{
   transition: all .5s ease;
   padding: 0.75rem !important;
   font-size: 1.125rem;
   --tw-text-opacity: 1;
}

.limit-3 .item:nth-child(3) ~ .item {
   display: none;
}

.ReactModal__Overlay {
   z-index: 9999;
}
.ReactModal__Content {
   /* aspect-ratio: 16/9; */
}

.share-button svg {
   transform: rotateY(-180deg);
}
.SectionPosts.webinar .section__container::before
{
   content:"";
   display:block;
   background:#EFEFEF;
   height:10px;
   width:100%;
   margin-bottom: 3.5rem;
}
.swiper-slide
{
   display:flex;
   place-content: center;
}
.bg-blue-accent
{
   background:#324766;
}
.text-reference
{
   font-size: 0.8rem;
   min-height: 50px;
}
.swiper-button-next:after, .swiper-button-prev:after
{
   font-size: 25px !important;
    color: gray !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next
{
   left: -50px !important;
    right: auto;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev
{
   right: -50px !important;
    left: auto;
}
.map-image
{
   max-width: 100%;
   width:100%;
}
.post-content p
{
   margin-bottom: 1rem;
}
.post-content h1,.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6
{
   margin-top:2rem ;
   margin-bottom: 1rem;
}
.share-button svg{
   transform: scaleX(-1);
}
.table-icons .text-green-600 svg path{

}
.table-icons .text-green-600 svg path{
   stroke: #03D873;
    stroke-width: 2px;
}

.table-icons .text-red-600 svg path{
   stroke: #FB0102;
    stroke-width: 2px;
}
.SepsisChart {
   overflow: visible;
}
.SepsisChart #gray,
.SepsisChart #blue,
.SepsisChart #red,
.SepsisChart #green {
   transition: all .5s ease;
}
.SepsisChart #gray:hover {
   transform: translate(-11px, -13px);
}
.SepsisChart #red:hover {
   transform: translate(8px, 16px);
}
.SepsisChart #blue:hover {
   transform: translate(10px, 16px);
}
.SepsisChart #green:hover {
   transform: translate(-8px, 14px);
}

.table--home {

}
@media screen and (min-width: 800px) {
   .table--home tr td:first-child {
      width: 295px;
   }
   .table--home tr td:nth-child(2) {
      width: 195px;
   }
   .table--home tr td:nth-child(3) {
      width: 172px;
   }
   .table--home tr td:last-child {
      width: 314px;
   }
}




#countries_chart #path-1,
#countries_chart #path-2,
#countries_chart #path-3,
#countries_chart #path-4,
#countries_chart #path-5,
#countries_chart #path-6,
#countries_chart #path-7,
#countries_chart #path-8,
#countries_chart #path-9 {
   transition: all .5s ease;
}
#countries_chart #path-1:hover {
   transform: translate(10px, 10px);
}
#countries_chart #path-2:hover {
   transform: translate(10px, 10px);
}
#countries_chart #path-3:hover {
   transform: translate(-7px, 5px);
}
#countries_chart #path-4:hover {
   transform: translate(10px, 3px);
}
#countries_chart #path-5:hover {
   transform: translate(-11px, -4px);
}
#countries_chart #path-6:hover {
   transform: translate(-6px, -5px);
}
#countries_chart #path-7:hover {
   transform: translate(-9px, -15px);
}
#countries_chart #path-8:hover {
   transform: translate(-3px, -9px);
}
#countries_chart #path-9:hover {
   transform: translate(-1px, -14px);
}

.table--hover-sm tr:hover td {
   font-size: 1rem;
   padding: 0.5rem;
}
.table--hover-sm tr:hover td img,
.table--hover-sm tr:hover td {
   transition: all .5s ease;
}
.table--hover-sm tr:hover td img {
   width: 32px;
   height: 32px;
}

.has-dropdown:hover .dropdown-menu {
   display: block !important;
}
.has-dropdown .dropdown-menu {
   min-width: 200px;
}
@media screen and (min-width: 1000px) {
   .has-dropdown .dropdown-menu {
      /* min-width: 200px; */
      transform: translate(-20%, 0);
   }

}

.nprogress-busy #__next {
   opacity: 0.5;
}
.has-dropdown:hover > .dropdown-menu {
   display: block !important;
}
.dropdown-menu
{
   min-width: 160px;
}
.read-or-hide{
   color: #2A81B6;
   cursor: pointer;
 }
